/* Variables */
.container { max-width: 980px; }
.content { max-width: 720px; margin: auto; }
header { margin-bottom: 72px; }
section { padding: 80px 0; }
.alt-section { background-color: #F8F8F9; }
blockquote { margin: 0; font-size: 2.4rem; font-weight: 500; line-height: 3.4rem; color: #333; }
.pull-quote { max-width: 480px; margin: 32px auto; font-size: 2.2rem; line-height: 1.5; font-weight: 400; font-style: italic; text-transform: uppercase; }
h1 { margin: 0; margin-bottom: 12px; font-size: 2.8rem; line-height: 3.2rem; text-align: center; color: #333; }
.byline { margin-top: 0; font-size: 2rem; text-align: center; color: #999; }
.intro-text { text-align: center; margin-bottom: 64px; }
.thumb { display: block; min-height: 200px; margin-bottom: 20px; color: white !important; border: 0; border-radius: 5px; background-repeat: no-repeat; background-size: cover; transition: all 0.1s ease-in-out; }
.thumb:before { content: " "; top: 0; bottom: 0; left: 0; right: 0; opacity: 0.95; border-radius: 5px; transition: all 0.1s ease-in-out; }
.thumb .content { bottom: 24px; left: 16px; right: 16px; }
.thumb:hover, .thumb:focus, .thumb:active { cursor: pointer; color: white; border: 0; transform: scale(1.05); }
.thumb:hover:before, .thumb:focus:before, .thumb:active:before { opacity: 1.0; }
#intro { padding-top: 0; }
#danceheading { color: #3d7a67; }
#dysnthatheading { color: #3d7a67; }
#doctalkheading { color: #3d7a67; }
#paintingheading { color: #3d7a67; }
#interactclubheading { color: #3d7a67; }
#booksheading { color: #3d7a67; }
strong { color: #3b8eb9; }